body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

.Home {
  font-size: 18px;
  color: white;
  background-image: url("./Imagenes/Fondo.png");
  background-size: 100%;
  background-size: cover;
  background-position: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.Design {
  background-image: url("./Imagenes/Fondo.png");
  color: white;
  font-weight: bold;
}

.Footer {
  color: white;
  background-color: dimgray;
  text-align: left;
}

#Footer {
  font-size: 11px;
}

a {
  color: white;
}
a:hover {
  color: white;
}

}
